@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Nosifer&family=Noto+Sans:wght@700&family=Preahvihear&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #591a9492;
  background-color: #03131a;
  color: whitesmoke;

  /* font-family: "Bebas Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nosifer", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Preahvihear", sans-serif;
  font-family: "Roboto", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
}

#logo {
  color: #8739f9;
}

#text {
  color: white;
}

::selection {
  color: orange;
  background-color: #03131a;
}

#aboutBack {
  height: 400px;
  border: 2px solid white;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20231228/pngtree-elegant-wallpaper-deep-blue-background-with-indigo-artistic-textures-sparkling-glitter-image_13857038.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mask-image:linear-gradient(to bottom,rgb(19, 70, 77),rgba(173, 85, 210, 0));
}

#text{
  /* height: 100%; */
  margin-top: auto;
  background-color: rgba(0, 255, 255, 0.183);
  color: #0b03ff;
  border: 2px solid white;
  font-size: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

}
