@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Nosifer&family=Noto+Sans:wght@700&family=Preahvihear&family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* cursor: url('./assets/images/cursor.png'), auto; */
  background-color: #591a9492;
  background-color: #03131a;
  color: whitesmoke;

  /* font-family: "Bebas Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nosifer", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Preahvihear", sans-serif;
  font-family: "Roboto", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
}

#logo {
  color: #8739f9;
}

#text {
  color: white;
}

::selection {
  color: orange;
  background-color: #03131a;
}

#text {
  /* height: 100%; */
  margin-top: auto;
  background-color: rgba(0, 255, 255, 0.183);
  color: #0b03ff;
  border: 2px solid white;
  font-size: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background-color: #8739f9;
}
body::-webkit-scrollbar-thumb {
  background-color: #ffffffea;
  border-radius: 50px;
}

#aboutBack {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.goToBtn {
  width: 3rem;
  height: 3rem;
  background-color: #8739f9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  right: 7rem;
  z-index: 19;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0.2rem);
  }
}

@media screen and (max-width: 768px) {
  .forcmnt{
    flex-direction: column;
  }
  .omi{
    width: 100%;
    font-size: 15px;
    word-wrap: break-word;
  }
  .cmnt {
    width: 90%;
    display: flex;
    flex-direction: column;
   
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.555),
      -2px -2px 2px rgba(0, 0, 255, 0.555);
  }
}

@media screen and (min-width: 1200px) {
  .cmnt{
    width: 30%;
    word-wrap: break-word;

  }
}